* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
}

h1 {
    color: #66e;
}

.my-table {
    /* text-align: center; */
    border-collapse: collapse;
    /* border-spacing: 10px; */
}

caption {
  font-size: 40px;
}

.my-table th,
.my-table td {
    border: 1px solid #000;
    width: 150px;
    text-align: center;
}
