* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
    text-align: justify;
}

div {
    /* background-color: #080; */
}

section {
    display: grid;
    height: 100%;
    gap: 3px;
    /* grid-auto-flow: column; */
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(4, 25%); */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: 180px 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-rows: repeat(4, 1fr);
}
